dist/number_system_converter.exe
build/nsc/localpycs/struct.pyc
build/nsc/localpycs/pyimod04_pywin32.pyc
build/nsc/localpycs/pyimod03_ctypes.pyc
build/nsc/localpycs/pyimod02_importers.pyc
build/nsc/localpycs/pyimod01_archive.pyc
build/nsc/xref-nsc.html
build/nsc/warn-nsc.txt
build/nsc/Tree-02.toc
build/nsc/Tree-01.toc
build/nsc/Tree-00.toc
build/nsc/PYZ-00.toc
build/nsc/PYZ-00.pyz
build/nsc/PKG-00.toc
build/nsc/nsc.pkg
build/nsc/nsc.exe.manifest
build/nsc/EXE-00.toc
build/nsc/base_library.zip
build/nsc/Analysis-00.toc
number_system_converter.spec
number_system_converter_OLD.py
